# -----------------------------------------------------------------------------
# App - Don't add "/" in the end of the url (same in production)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
AUTH_SECRET=
NEXTAUTH_URL=
# When deploying your application behind a reverse proxy, you’ll need to set AUTH_TRUST_HOST equal to true. This tells Auth.js to trust the X-Forwarded-Host header from the reverse proxy.
# AUTH_TRUST_HOST=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database (MySQL - Neon DB)
# -----------------------------------------------------------------------------
DATABASE_URL='postgres://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require'

# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=
EMAIL_FROM="NestSaaS <support@nestsaas.com>"

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=

NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID=
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID=

NEXT_PUBLIC_STRIPE_ONE_TIME_10=
NEXT_PUBLIC_STRIPE_ONE_TIME_50=
NEXT_PUBLIC_STRIPE_ONE_TIME_100=

# -----------------------------------------------------------------------------
# GitHub (Auto invite collaborators for code delivery after purchase)
# -----------------------------------------------------------------------------
GITHUB_PERSONAL_TOKEN=


# -----------------------------------------------------------------------------
# Aws S3 Storage
# -----------------------------------------------------------------------------
# MEDIA_STORAGE_PROVIDER=S3
# AWS_REGION=
# AWS_S3_BUCKET=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# CLOUDFRONT_DOMAIN=

# -----------------------------------------------------------------------------
# Cloudflare R2 Storage
# -----------------------------------------------------------------------------
# MEDIA_STORAGE_PROVIDER=R2
# AWS_REGION=auto
# AWS_S3_BUCKET=[YOUR-BUCKET-NAME]
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# R2_ENDPOINT=https://[YOUR-ACCOUNT-ID].r2.cloudflarestorage.com
